<!DOCTYPE html>
<html>

<head>
<title>Escalas</title>
<style>
    body{
        font-family: Arial, Helvetica, sans-serif;
        background-color: #f4f4f4;
        margin: 0;
        padding: 20px;
    }
    .container {
        max-width: 800px;
        margin: auto;
        background: white;
        padding: 20px;
        border-radius: 8px;
    }   
    
    h1 {
        text-align: center;
        color: #333;
    }

    .evento {
        background: #ddd;
        padding: 10px;
        margin: 10px 0;
        border-radius: 5px;
    }

</style>
</head>

<body>
    <div class="container">
        <h1>Escalas dos Próximos Eventos</h1>

        <div class="evento">
            <h2>Evento exemplo - 01/05-2025</h2>

            <p><strong>Participantes e Funções:</strong></p>

            <ul>
                <li>João Silva - Cantor</li>
                <li>Maria Souza - tecladista</li>
                <li>Pedro Oliveira - Segurança</li>
            </ul>

        </div>
    </div>
    
</body>


</html>